/* ****************************************************** */
/*          Title: FMC New Global Stylesheet              */
/*          Author: Michael Manlulu                       */
/*          Date: May 2018                                */
/* ****************************************************** */

/* ***************************************** */
/*   ** TABLE OF CONTENTS                    */
/*   1. Fix TT responsive page template      */
/*   2. Reset/Base Styles                    */
/*   3. Global Styles                        */
/*   4. Class Calls                          */
/* ***************************************** */

/* *************************************** */
/* FONTS: Abraham, Roboto                 */
/* *************************************** */

/* Header Font: Abaraham */
@font-face {
    font-family: 'abrahamregular';
    src: url('../fonts/abraham-webfont.eot');
    src: url('../fonts/abraham-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/abraham-webfont.woff2') format('woff2'),
         url('../fonts/abraham-webfont.woff') format('woff'),
         url('../fonts/abraham-webfont.ttf') format('truetype'),
         url('../fonts/abraham-webfont.svg#abrahamregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ***************************************************************************************** */
/* 1. Fix default ToolTwist responsive page template                                         */
/* ***************************************************************************************** */

/* ********************************************************** */
/* 1.A Fix Tooltwist container, table & hr                    */
/* ********************************************************** */

/* Outer Container (custom style) */
body > .container {
    width: 100% !important;
    padding: 0 !important;
    margin: auto !important;
  }

  /* Tooltwist Table */
  body > .container > table {
    width: 100% !important;
  }

  /* Remove TT hr */
  body > .container > hr {
      display: none !important;
  }

/* ********************************************************** */
/* 1.B FMC Inner container and row styles for TT              */
/* ********************************************************** */

  /* Inner Container (default bootstrap styles) */
  body div > .container,
  body section > .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  @media (min-width: 768px) {
      body div > .container,
      body section > .container {
        width: 750px;
    }
  }

  @media (min-width: 992px) {
    body div > .container,
    body section > .container {
      width: 970px;
    }
  }

  @media (min-width: 1200px) {
    body div > .container,
    body section > .container {
      width: 1170px;
    }
  }

  /* Default bootstrap rows */
  body div > .container > .row,
  body section > .container > .row {
    margin-right: -15px;
    margin-left: -15px;
  }

/* ***************************************************************************************** */
/* 2. Reset/Base Styles (Normalize.css)                                                      */
/* ***************************************************************************************** */

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
button,hr,input{overflow:visible}audio,canvas,progress,video{display:inline-block}progress,sub,sup{vertical-align:baseline}[type=checkbox],[type=radio],legend{box-sizing:border-box;padding:0}html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figure{margin:1em 40px}hr{box-sizing:content-box;height:0}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative}sub{bottom:-.25em}sup{top:-.5em}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,select{text-transform:none}[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:ButtonText dotted 1px}fieldset{padding:.35em .75em .625em}legend{color:inherit;display:table;max-width:100%;white-space:normal}textarea{overflow:auto}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}[hidden],template{display:none}


/* ***************************************************************************************** */
/* 3. Global Styles                                                                          */ 
/* ***************************************************************************************** */

/* Box sizing */
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    }
  
/* Font Smoothing */
html {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 400;
}

body {
    height: 100%;
    background: #fff;
    color: #222;
    line-height: 1.4;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 { font-family: 'abrahamregular', Arial, sans-serif; }

p, a, span { 
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 500;
    font-size: 15px; 
}


/* ***************************************************************************************** */
/* 4. CLASS CALLS                                                                            */
/* ***************************************************************************************** */

/* Quick positioning */
.wrapper { position: relative; display: block; float: left; width: 100% }
.pos-fl { position: relative; display: block; float: left; }
.pos-rt { position: relative; display: block; float: right; }
.pos-rb { position: relative; display: block; }
.pos-abs { position: absolute; top: 0; left: 0; right: 0; bottom: 0; }
.pos-fxd { position: fixed; }

/* Floats */
.f-l { float: left; }
.f-r { float: right; }
.f-n { float: none; }

/* Remove styles */
.no-pad { padding: 0 !important; }
.no-marg { margin: 0 !important; }
.no-br { border: none !important; }

/* Set common width sizes */
.w-100 { width: 100%; }
.w-50 { width: 50%; }
.w-33 { width: 33.33%; }

.h-100 { height: 100%; }
.h-50 { height: 50%; }
.h-33 { height: 33.33%; }

/* Set gutters */
.gutter-50 { position: absolute; display: block; width: 50%; margin: 0 auto; left: 50%; transform: translateX(-50%); -webkit-transform: translateX(-50%); }
.gutter-75 { position: absolute; display: block; width: 75%; margin: 0 auto; left: 50%; transform: translateX(-50%); -webkit-transform: translateX(-50%); }
.gutter-80 { position: absolute; display: block; width: 80%; margin: 0 auto; left: 50%; transform: translateX(-50%); -webkit-transform: translateX(-50%); }

/* Section paddings */
.sec-pad-50 { padding: 50px 0; }
.sec-pad-100 { padding: 100px 0; }
.sec-pad-150 { padding: 150px 0; }

/* Set common sizes paddings */
.pad-5 { padding: 5px; }
.pad-10 { padding: 10px; }
.pad-15 { padding: 15px; }
.pad-20 { padding: 20px; }
.pad-25 { padding: 25px; }

.pad-lr-15 { padding: 0 15px; }
.pad-lr-25 { padding: 0 25px; }
.pad-tb-15 { padding: 15px 0; }
.pad-tb-25 { padding: 25px 0; }

.pad-r-0 { padding-right: 0; }
.pad-r-5 { padding-right: 5px; }
.pad-r-10 { padding-right: 10px; }
.pad-r-15 { padding-right: 15px; }
.pad-r-20 { padding-right: 20px; }
.pad-r-25 { padding-right: 25px; }

.pad-l-0 { padding-left: 0; }
.pad-l-5 { padding-left: 5px; }
.pad-l-10 { padding-left: 10px; }
.pad-l-15 { padding-left: 15px; }
.pad-l-20 { padding-left: 20px; }
.pad-l-25 { padding-left: 25px; }

/* Set common sizes margins */
.marg-0 { margin: 0; }
.marg-15 { margin: 15px; }
.marg-25 { margin: 25px; }

.marg-l-5 { margin-left: 5px; }
.marg-l-10 { margin-left: 10px; }
.marg-l-15 { margin-left: 15px; }

.marg-r-5 { margin-right: 5px; }
.marg-r-10 { margin-right: 10px; }
.marg-r-15 { margin-right: 15px; }

.marg-lr-15 { margin: 0 15px; }
.marg-lr-25 { margin: 0 25px; }
.marg-tb-15 { margin: 15px 0; }
.marg-tb-25 { margin: 25px 0; }

.marg-t-0 { margin-top: 0; }
.marg-t-5 { margin-top: 5px; }
.marg-t-10 { margin-top: 10px; }
.marg-t-15 { margin-top: 15px; }
.marg-t-20 { margin-top: 20px; }
.marg-t-25 { margin-top: 25px; }
.marg-t-50 { margin-top: 50px; }

.marg-b-0 { margin-bottom: 0; }
.marg-b-5 { margin-bottom: 5px; }
.marg-b-10 { margin-bottom: 10px; }
.marg-b-15 { margin-bottom: 15px; }
.marg-b-20 { margin-bottom: 20px; }
.marg-b-25 { margin-bottom: 25px; }
.marg-b-50 { margin-bottom: 50px; }

/* Set font family */
.fnt-abraham { font-family: 'abrahamregular', 'Arial', sans-serif; }
.fnt-roboto { font-family: 'Roboto', 'Arial', sans-serif; }

/* Set text align */
.txt-center { text-align: center; }
.txt-left { text-align: left; }
.txt-right { text-align: right; }
.txt-justify { text-align: justify; }

/* Force center elements */
.center-hr { position: absolute; left: 50%; transform: translateX(-50%); -webkit-transform: translateX(-50%); }
.center-vl { position: absolute; top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); }
.center-both { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); }

/* Set font size */
.fnt-s-15 { font-size: 15px; }
.fnt-s-16 { font-size: 16px; }
.fnt-s-17 { font-size: 17px; }
.fnt-s-18 { font-size: 18px; }

/* Set font weights */
.fnt-w-300 { font-weight: 300; }
.fnt-w-400 { font-weight: 400; }
.fnt-w-500 { font-weight: 500; }
.fnt-w-700 { font-weight: 700; }

/* Set common text colors */
.clr-white { color: #fff; }
.clr-light { color: #C7C7C7; }
.clr-dark { color: #555; }
.clr-black { color: #222; }
.clr-blue { color: #1A506A; }
.clr-red { color: #FF494B; }

/* Text transforms */
.u-case { text-transform: uppercase; }
.l-case { text-transform: lowercase; }
.s-case { text-transform: capitalize; }

/* Set background colors */
.bg-white { background: #fff; }
.bg-light { background: #F4F4F4; }
.bg-gray { background: #999; }
.bg-dark-black { background: #222; }
.bg-black { background: #000; }
.bg-light-blue { background: #4a8cde; }
.bg-blue { background: #2169c1;}
.bg-dark-blue { background: #002e44; }
.bg-red { background: #FF494B; }

/* Overflow */
.ofw-hd { overflow: hidden; }
.ofw-x-hd { overflow-x: hidden; }
.ofw-y-hd { overflow-y: hidden; }

/* Set smooth fade transitions */
.tr-fade { transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; }
.tr-fade-fast { transition: all 0.1s ease-in-out; -webkit-transition: all 0.1s ease-in-out; }
.tr-fade-slow { transition: all 0.4s ease-in-out; -webkit-transition: all 0.4s ease-in-out; }

/* Unordered List Styles */
.list-style-none { list-style-type: none; }
